postman/API_Contracts/AddToCartRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
    <xs:element name="AddToCartRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="sessionId" type="xs:string"/>
                <xs:element name="productId" type="xs:integer"/>
                <xs:element name="quantity" type="xs:integer" default="1"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>