postman/API_Contracts/CartItem.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
    <xs:complexType name="CartItemType">
        <xs:sequence>
            <xs:element name="id" type="xs:integer"/>
            <xs:element name="product_id" type="xs:integer"/>
            <xs:element name="quantity" type="xs:integer"/>
            <xs:element name="name" type="xs:string"/>
            <xs:element name="price" type="xs:decimal"/>
            <xs:element name="image_url" type="xs:anyURI"/>
        </xs:sequence>
    </xs:complexType>
    
    <xs:element name="CartItem" type="CartItemType"/>
</xs:schema>