postman/API_Contracts/ErrorResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
    <xs:element name="ErrorResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="success" type="xs:boolean" fixed="false"/>
                <xs:element name="message" type="xs:string"/>
                <xs:element name="code" type="xs:string" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>