postman/API_Contracts/Order.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
    <xs:complexType name="OrderType">
        <xs:sequence>
            <xs:element name="id" type="xs:integer"/>
            <xs:element name="session_id" type="xs:string"/>
            <xs:element name="total" type="xs:decimal"/>
            <xs:element name="status" type="xs:string"/>
            <xs:element name="created_at" type="xs:dateTime"/>
        </xs:sequence>
    </xs:complexType>
    
    <xs:element name="Order" type="OrderType"/>
</xs:schema>