postman/API_Contracts/Product.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
    <xs:complexType name="ProductType">
        <xs:sequence>
            <xs:element name="id" type="xs:integer"/>
            <xs:element name="name" type="xs:string"/>
            <xs:element name="description" type="xs:string"/>
            <xs:element name="price" type="xs:decimal"/>
            <xs:element name="image_url" type="xs:anyURI"/>
        </xs:sequence>
    </xs:complexType>
    
    <xs:element name="Product" type="ProductType"/>
</xs:schema>